.list-group-item {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

body {
  background-image: url('/img/pokemon-bg.png');
  background-repeat: repeat; /* This will make it repeat both horizontally and vertically */
}


.custom-navbar {
  width: fit-content; /* Set the width to fit the content (the logo) */
  margin: 0 auto; /* Center the navbar horizontally */
  padding: 0; /* Remove any padding */
}
